$lightblue: #BDECF6;
$lightgray: #ECECEC;
$gray: #747474;
$font-color: #767676;
$footer-color: #444444;
$framboise: #E83B89;
$white: #FFFFFF;
$background-promotion: #efefef;
$font-family-logo: "Crete Round";
$font-family-base: "Roboto", sans-serif;


$desktop-width: 600px;