@use "../abstracts/variables" as *;
@use "../components/buttons" as *;
.promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-promotion;
    height: 600px;
    margin-top: 36px;
    margin-bottom: 24px;
    padding: 16px;
    gap: 14px;


    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: center;
      height: auto;
    }
  
    &__card {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
      box-sizing: border-box;
      width: 95%;

      @media (min-width: $desktop-width) {
        width: 450px;
        margin-top: 20px;
        margin-bottom: 52px;
      }
  
      &:nth-child(1) {
        background-image: url("/images/article-image-1.jpg");
      }
  
      &:nth-child(2) {
        background-image: url("/images/article-image-2.jpg");
      }
    }
  
    &__content {
      background-color: $white;
      height: 250px;
      min-width: 135px;
      max-width: 170px;
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px 0 0 8px;
      opacity: 0.95;
    }
  
    &__title {
      margin: 0;
      width: 90%;
      position: relative;
      text-transform: uppercase;
      text-align: center;
  
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin-top: 16px;
      }
    }
  
    &__description {
      text-align: center;
      font-style: italic;
      font-size: 12px;
      width: 85%;
      margin-top: 24px;
      margin-bottom: 24px
    }

    &__button {
      @include button;
      padding: 6px 24px;
    }
  }
